# Task 01

In [15]:
import pandas as pd

directory = "E:/STUDY/5TH SEMESTER/DATA SCIENCE/Assignments"

customers_file = f"{directory}/customers.csv"
sales_file = f"{directory}/sales.csv"

customers_df = pd.read_csv(customers_file)
sales_df = pd.read_csv(sales_file)

print("Customers Dataset:")
print(customers_df.head())
print(f"Shape: {customers_df.shape}")
print("\nSales Dataset:")
print(sales_df.head())
print(f"Shape: {sales_df.shape}")

Customers Dataset:
   CustomerID  Age         City
0           1   22     New York
1           2   23  Los Angeles
2           3   24      Chicago
3           4   25      Houston
4           5   26      Phoenix
Shape: (100, 3)

Sales Dataset:
   SaleID  CustomerID     Product  Amount
0     101           1      Laptop     200
1     102           2  Smartphone     500
2     103           3      Tablet     800
3     104           4  Headphones    1100
4     105           5     Monitor    1400
Shape: (400, 4)

# Task 02

In [16]:
# Task 2: Convert to dictionary and filter by city
customers_dict = customers_df.to_dict(orient="records")
filtered_dict_customers = [cust for cust in customers_dict if cust["City"] == "New York"]
filtered_df_customers = customers_df[customers_df["City"] == "New York"]

print(f"Filtered Customers (Dict): {filtered_dict_customers[:5]}")
print(f"Filtered Customers (DataFrame):\n{filtered_df_customers.head()}")

Filtered Customers (Dict): [{'CustomerID': 1, 'Age': 22, 'City': 'New York'}, {'CustomerID': 6, 'Age': 27, 'City': 'New York'}, {'CustomerID': 11, 'Age': 32, 'City': 'New York'}, {'CustomerID': 16, 'Age': 37, 'City': 'New York'}, {'CustomerID': 21, 'Age': 42, 'City': 'New York'}]
Filtered Customers (DataFrame):
    CustomerID  Age      City
0            1   22  New York
5            6   27  New York
10          11   32  New York
15          16   37  New York
20          21   42  New York

# Task 03

In [17]:
# Task 3: Check for and remove duplicates
customers_df = customers_df.drop_duplicates()
sales_df = sales_df.drop_duplicates()
print(f"Customers Duplicates Removed: {customers_df.duplicated().sum()}")
print(f"Sales Duplicates Removed: {sales_df.duplicated().sum()}")

Customers Duplicates Removed: 0
Sales Duplicates Removed: 0

# Task 04

In [18]:
# Task 4: Add discount column and group by product
sales_df["Discounted_Amount"] = sales_df["Amount"] * 0.9
product_sales = sales_df.groupby("Product")["Discounted_Amount"].sum().reset_index()
print(product_sales)

      Product  Discounted_Amount
0  Headphones            79200.0
1      Laptop            14400.0
2     Monitor           100800.0
3  Smartphone            36000.0
4      Tablet            57600.0

# Task 05

In [19]:
# Task 5: Filter customers aged 25-35 and analyze city distribution
filtered_customers = customers_df[(customers_df["Age"] >= 25) & (customers_df["Age"] <= 35)]
city_distribution = filtered_customers["City"].value_counts()

print(f"Filtered Customers:\n{filtered_customers}")
print(f"City Distribution:\n{city_distribution}")

Filtered Customers:
    CustomerID  Age         City
3            4   25      Houston
4            5   26      Phoenix
5            6   27     New York
6            7   28  Los Angeles
7            8   29      Chicago
8            9   30      Houston
9           10   31      Phoenix
10          11   32     New York
11          12   33  Los Angeles
12          13   34      Chicago
13          14   35      Houston
33          34   25      Houston
34          35   26      Phoenix
35          36   27     New York
36          37   28  Los Angeles
37          38   29      Chicago
38          39   30      Houston
39          40   31      Phoenix
40          41   32     New York
41          42   33  Los Angeles
42          43   34      Chicago
43          44   35      Houston
63          64   25      Houston
64          65   26      Phoenix
65          66   27     New York
66          67   28  Los Angeles
67          68   29      Chicago
68          69   30      Houston
69          70   31      Phoenix
70          71   32     New York
71          72   33  Los Angeles
72          73   34      Chicago
73          74   35      Houston
93          94   25      Houston
94          95   26      Phoenix
95          96   27     New York
96          97   28  Los Angeles
97          98   29      Chicago
98          99   30      Houston
99         100   31      Phoenix
City Distribution:
Houston        11
Phoenix         8
New York        7
Los Angeles     7
Chicago         7
Name: City, dtype: int64

# Task 06

In [14]:
# Task 6: Merge datasets and find insights
merged_df = pd.merge(customers_df, sales_df, on="CustomerID")
city_with_highest_sales = merged_df.groupby("City")["Discounted_Amount"].sum().idxmax()
most_sold_product = merged_df["Product"].value_counts().idxmax()

print(f"City with Highest Sales: {city_with_highest_sales}")
print(f"Most Sold Product: {most_sold_product}")

City with Highest Sales: Phoenix
Most Sold Product: Laptop

# Task 07

In [20]:
# Task 7: Explore merged data
unique_cities = merged_df["City"].unique()
unique_products = merged_df["Product"].unique()
amount_mean = merged_df["Amount"].mean()
amount_median = merged_df["Amount"].median()

print(f"Unique Cities: {unique_cities}")
print(f"Unique Products: {unique_products}")
print(f"Amount Mean: {amount_mean}")
print(f"Amount Median: {amount_median}")

Unique Cities: ['New York' 'Los Angeles' 'Chicago' 'Houston' 'Phoenix']
Unique Products: ['Laptop' 'Smartphone' 'Tablet' 'Headphones' 'Monitor']
Amount Mean: 800.0
Amount Median: 800.0